.mymessages {
     .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }


}
.customized-image{
  max-height: 100px !important;
  max-width:  100px !important;
}
