<ion-header>
  <!--
  <ion-navbar>
    <ion-title>Drug Details</ion-title>
  </ion-navbar> -->

  <ion-navbar primary>

    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Add New Supplier </ion-title>
  
    </ion-navbar>
</ion-header>

<ion-content padding class="drugshome" style="overflow-scroll:true">


  <ion-list inset>
      <form [formGroup]="addsupplier" (ngSubmit)="manageSupplier()">


          <!-- Supplier Name -->
          <ion-item [class.error]="!suppliername.valid && suppliername.touched">
              <!-- <ion-label color="primary" stacked><strong>Drug Name</strong></ion-label> -->
              <ion-label color="primary" stacked><strong>Supplier Name</strong></ion-label>
              <ion-input type="text"  value="" [(ngModel)]="vendorname" name="vendorname" formControlName="suppliername" required placeholder="Enter Supplier Name"></ion-input>
          </ion-item>
          <p *ngIf="suppliername.hasError('required') && suppliername.touched" danger>*Please provide valid supplier name</p>

          <br>

          <!-- Supplier Address -->
          <ion-item>
              <ion-label color="primary" stacked><strong>Address:</strong></ion-label>
              <ion-input type="text" (click)="showSuggestedAddressModal()" (touchstart) ="showSuggestedAddressModal()" value="" formControlName="address" placeholder="Please click here" [(ngModel)]="vendoraddress" name="vendoraddress"></ion-input>         
              <ion-input type="text" value="" formControlName="city" placeholder="city" [(ngModel)]="vendorcity" name="vendorcity"></ion-input>
              <ion-input type="text" value="" formControlName="state" placeholder="state" [(ngModel)]="vendorstate" name="vendorstate"></ion-input>
              <ion-input type="text" value="" formControlName="country" placeholder="country" [(ngModel)]="vendorcountry" name="vendorcountry"></ion-input>
              <ion-input type="text" value="" formControlName="pin" placeholder="pin" [(ngModel)]="vendorpin" name="vendorpin"></ion-input> 
          </ion-item>

          <br>

          <!-- Contact Details  -->   
          <ion-item>
              <ion-label color="primary" stacked><strong>Contact Details:</strong></ion-label>
              <ion-input type="text"  value="" formControlName="contactname" placeholder="Please provide contact person name(*)" [(ngModel)]="vendorcontactname" name="vendorcontactname"></ion-input>         
              <ion-input type="text" value="" formControlName="landlineno" placeholder="office or landline number" [(ngModel)]="vendorlandlineno" name="vendorlandlineno"></ion-input>
              <ion-input type="text" value="" formControlName="mobileno" placeholder="Enter Mobile Number(*)" [(ngModel)]="vendormobileno" name="vendormobileno"></ion-input>
          </ion-item>

          <br>  

          <!-- Tax Details  -->   
          <ion-item >
              <ion-label color="primary" stacked><strong>Tax Details:</strong></ion-label>
              <ion-input type="text"  formControlName="GSTNO" [(ngModel)]="vendorGST" name="vendorGST"  placeholder="Enter GST#"></ion-input> 
              <ion-input type="text"  formControlName="TINNO" [(ngModel)]="vendorTIN" name="vendorTIN"  placeholder="Enter TIN#"></ion-input>   
          </ion-item>
          
          <br> 
         
      <button type="submit" [disabled]="!addsupplier.valid">Submit</button>
      
      </form>
        <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
        </div> 
  </ion-list>
</ion-content>