<ion-header>
  <ion-toolbar dark>
    <ion-title>
      Search Address
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" ></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-toolbar>
    <ion-searchbar primary [(ngModel)]="autocomplete.pinquery" placeholder = "Please enter postal PIN NO" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
</ion-header>



<ion-content class="drugshome">

<div *ngIf = "result != ''">
  <ion-item>
    No address(s) found for a given PIN No : <strong> {{autocomplete.pinquery}} </strong>.<br> Please enter valid Postal PIN No.
  </ion-item>
</div>



  <ion-list lines>

    <ion-item-sliding *ngFor="let address of vwaddress" [hidden]="address.hide">

      <button ion-item (click)="chooseItem(address)">
              <h2><strong> {{address.office_name}}</strong></h2>
              <h4>{{address.taluk}}</h4>
              <p>{{address.region_name}} - {{address.state_name}}</p>
      </button>

    </ion-item-sliding>

  </ion-list>




</ion-content>