<ion-header>
    <ion-navbar primary>

    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Search Supplier</ion-title>

     <ion-buttons end>
      <button ion-button (click)="gotoAddSuppliers()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>


    </ion-navbar>
</ion-header>

<ion-content class="drugshome">
  <div>

    <ion-searchbar primary [(ngModel)]="queryText" (ionInput)="updatesuppliersearch()" placeholder="Search By Supplier Name">
    </ion-searchbar>

  <div *ngIf="suppliersearchcount == 0">
    <ion-item>
      No supplier(s) found  with a supplier name : <strong> {{queryText}} </strong> . Please check your search
      criteria and try with a different supplier name.
    </ion-item>
  </div>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list no-lines>

    <ion-item-sliding *ngFor="let supplier of vwsuppliers" [hidden]="supplier.hide">

      <button ion-item (click)="gotoSupplierDetails(supplier.supplierid)">
              <ion-avatar item-left>
                 <img src= "img/supplierpharmacy.png" />
              </ion-avatar>
              <h2><strong> {{supplier.suppliername}}</strong></h2>
              <h4>Supplier Town:<strong>{{supplier.suppliercity}}</strong></h4>
      </button>

    </ion-item-sliding>

  </ion-list>
  </div>

</ion-content>