// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/home/home";
@import "../pages/inventory/search";
@import "../pages/inventory/details";
@import "../pages/search-alternative/search-alternative";
@import "../pages/invoice/invoice";
@import "../pages/invoice/invoicedetails";
@import "../pages/invoice-add/invoice-add.scss";

ion-title{
    text-align: center;
   
}
ion-icon{
    padding-right: 5px;   
}
ion-card ion-card-header{
    background-color:   lightseagreen;
    color: white;
}



.autocomplete {
  display     : block;
  overflow    : hidden;
}

.autocomplete ion-list .item{
     background-color: white;
}

ion-list .item-radio{
    background-color: white;
}

.autocomplete ion-spinner {
  margin-left:   500px;
  margin-top:   -32px;
  margin-bottom: 26px;
  margin-right: 8px;
}

.autocomplete ion-list {
  margin    :   8px;
  margin-top:   -8px;
  border    :   1px solid #dedede;
}

.autocomplete ion-item {
}

.autocomplete ion-item:hover {
  background    : #f1f1f1;
  cursor        : pointer;
}

.grid-header{
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  text-align: center;
}

.grid-item{
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  vertical-align: center;
}

.invalid {
        border: 2px solid #ea6153;
}

.errorText{
  color: red;
}

.menutext{
  font-size:18px;
}

.micon-right{
  color:white;
  font-weight: bold;
}