<ion-header>
  <ion-toolbar primary>
    <ion-title>
      Invoice Details 
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="invoicedetailshome" style="overflow-scroll:true">
  <div *ngIf="invoicedtldata">  
  <ion-card>
      <ion-card-header>
          Supplier Name: {{invoicedtldata.suppliername}}
      </ion-card-header>
      <ion-card-content>
          <p>&nbsp;</p>
          <p><ion-icon ios="ios-document" md="md-document"></ion-icon>Tax Invoice No: &nbsp;{{invoicedtldata.taxinvoiceno}}</p>
          <p><ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>Invoice Date: &nbsp;{{invoicedtldata.invoicedate}}</p>
          <p><ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon>Invoice Value: &nbsp;{{invoicedtldata.total_invoice_value}} INR</p> 
      </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let invoiceitem of invoicedtldata.invoiceitems">
      <ion-card-header>
          {{invoiceitem.drugname}}, {{invoiceitem.drugtype}}
      </ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col width-50><ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon> Batch No: &nbsp;{{invoiceitem.batchno}}</ion-col>
                <ion-col width-50><ion-icon ios="ios-cube" md="md-cube"></ion-icon> Quantity:&nbsp;{{invoiceitem.purchase_qty}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50><ion-icon ios="ios-barcode" md="md-barcode"></ion-icon> Manufacturer: &nbsp;{{invoiceitem.mfg}}</ion-col>
                <ion-col width-50><ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon> Total Price:&nbsp;{{invoiceitem.total_price}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50>MRP: {{invoiceitem.mrp}}</ion-col>
                <ion-col width-25>Unit Price: {{invoiceitem.unitprice}}</ion-col>
                <ion-col width-25>VAT: {{invoiceitem.vat}}</ion-col>
            </ion-row>
        </ion-grid>
  </ion-card>
  </div>
</ion-content>