<ion-menu [content]="content">

  <ion-toolbar avatar>

    <div class="sidemenu-header">
        <img class="avatarstyle" src="img/avatar.png"/>
    </div>

  </ion-toolbar>

  <ion-content class="menuhome"> 
    <div class="userinfo">
        <strong>Welcome Giridhar</strong>
    </div>
    <ion-list>
      <ion-item class="menuitem" *ngFor="let p of pages">
          <a class="menutitle" ion-button icon-left (click)="openPage(p)">
            <ion-icon name="{{p.icon}}"></ion-icon>
            <span class="menutext"> &nbsp;&nbsp;{{p.title}} </span>
          </a>
      <ion-icon class="micon-right" *ngIf="p.child && !p.showchild" name="ios-arrow-dropdown-outline" (click)="toggleMenuItem(p)"></ion-icon>
      <ion-icon class="micon-right" *ngIf="p.child && p.showchild" name="ios-arrow-dropup-outline" (click)="toggleMenuItem(p)"></ion-icon>
          <div *ngIf="p.child && p.showchild">
            <p></p>
            <button ion-item detail-none class="menuitem" *ngFor="let childpage of p.child" (click)="openPage(childpage)" >
            <a class="menutitle" ion-button icon-left (click)="openPage(childpage)">
               <ion-icon name="{{childpage.icon}}"></ion-icon>
              <span class="menutext"> &nbsp;&nbsp;{{childpage.title}} </span>
            </a>
            </button>
          </div> 
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>