<ion-header>
  <ion-navbar primary>

    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Add New Invoice </ion-title>
  
    </ion-navbar>
</ion-header>
<ion-content padding class="invoice-add" style="overflow-scroll:true">

    <div class="autocomplete" *ngIf="selectedsupplierid == undefined" > <!-- This class is key for representing the autosuggest results -->
    <ion-searchbar [(ngModel)]="queryText" [debounce]="500" placeholder="Search Supplier" (ionInput)="lookupSupplier()"></ion-searchbar>
    <ion-spinner *ngIf="searching" icon="spiral"></ion-spinner>
    <ion-list *ngIf="suggestions && suggestions.length > 0 && showlist">
        <ion-item *ngFor="let suggestion of suggestions" (click)="select(suggestion)">
            {{suggestion.suppliername}}
        </ion-item>
    </ion-list>
    </div>
    
    <div *ngIf="showlist && suggestions.length==0"> <p class="errorText" >No Supplier found with given name.</p></div>

    <ion-item *ngIf="selectedsupplierid != undefined">
        <button ion-button outline item-right icon-right (click)="clearSupplierName()">
          <ion-icon name="close-circle"></ion-icon>
          Clear
        </button>
        <ion-label floating>Supplier Name</ion-label>
        <ion-input type="text" [(ngModel)]="selectedsuppliername" disabled="true"></ion-input>
    </ion-item>
    
    <form [formGroup]="invoice" (ngSubmit)="addInvoice()">

      <ion-item>
        <button type="button" ion-button outline item-right icon-right (click)="openDatePicker()">
          <ion-icon name="calendar"></ion-icon>
        </button>
        <ion-label floating>Invoice Date</ion-label>
        <ion-input type="text" formControlName="date"></ion-input>
      </ion-item>
      <div class="errorText" *ngIf="invoice.controls['date'].hasError('required') && invoice.controls['date'].touched">*Please provide Invoice Date</div>
      <div class="errorText" *ngIf="invoice.controls['date'].hasError('pattern') && invoice.controls['date'].touched">*Please enter valid Invoice Date</div>

      <ion-item>
        <ion-label floating>Invoice No.</ion-label>
        <ion-input type="text" formControlName="taxinvoiceno"></ion-input>
      </ion-item>
      <div class="errorText" *ngIf="invoice.controls['taxinvoiceno'].hasError('required') && invoice.controls['taxinvoiceno'].touched">*Please provide Invoice No.</div>
      <div class="errorText" *ngIf="invoice.controls['taxinvoiceno'].hasError('pattern') && invoice.controls['taxinvoiceno'].touched">*Please enter valid Invoice No.</div>

        <ion-list radio-group formControlName="transactionType">
          <ion-list-header>
              Transaction Type
          </ion-list-header>
          <ion-item>
            <ion-label>Cash</ion-label>
            <ion-radio value="CASH"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Credit</ion-label>
            <ion-radio value="CREDIT"></ion-radio>
          </ion-item>
        </ion-list>

      <ion-item>  
          <button type="button" ion-button outline item-right icon-right (click)="createInvoiceItem()">
            <ion-icon name="add-circle"></ion-icon>
            Add Invoice Item
          </button>
      </ion-item>   
      <ion-item>
      <ion-grid>
        <ion-row class='grid-header'> 
          <ion-col width-10>&nbsp;</ion-col>  
          <ion-col width-10>Sl.No</ion-col>
          <ion-col width-45>Drug Name</ion-col>
          <ion-col width-10>Drug Type</ion-col>
          <ion-col>Batch No.</ion-col>
          <ion-col>Qty</ion-col>
          <ion-col>Rate</ion-col>
        </ion-row>
        <ion-row *ngFor="let item of invoiceItems;let i = index;" class="grid-item">  
          <ion-col width-10>
            <button type="button" ion-button clear icon-left (click)="editInvoiceItem(i)">
              <ion-icon name="create"></ion-icon>
            </button>
            <button type="button" ion-button clear icon-left (click)="deleteInvoiceItem(item)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-10>{{item.sno}}</ion-col>
          <ion-col width-45>{{item.drugname}}</ion-col>
          <ion-col width-10>{{item.drugtype}}</ion-col>
          <ion-col>{{item.batchno}}</ion-col>
          <ion-col>{{item.purchaseqty}}</ion-col>
          <ion-col>{{item.total_price}}</ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>

      <button type="submit" [disabled]="!invoice.valid">Add Invoice</button>
    </form>

</ion-content>