
<ion-header>
  <ion-toolbar dark>
    <ion-title>
       Substitute drug for : {{drugname}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="substitute-home" style="overflow-scroll:true">

  <div *ngIf="lresultcount == 0">
     <ion-card>
              <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                              No alternative drug(s) found in internet for the drug name : <strong> {{drugname}} </strong> . Please do you own research to find alternatives.
                        </ion-col>
                    </ion-row>
                </ion-grid>
              </ion-card-content> 
     </ion-card>     
  </div>



  <div *ngIf="lresultcount > 0">
      <ion-item style="text-align:center">
            <strong>  *** !! Warning !! **** </strong><br> 
            <b>Retailers are advised to check before prescribing to customers</b>
      </ion-item>

    

      <div *ngIf="ldrugdetails > 0">
        <ion-card> 
            <ion-card-header>
                  {{vwmedicinedetails.brand}} : {{vwmedicinedetails.category}}
            </ion-card-header>
            <ion-grid>

                    <ion-row>
                        <ion-col width-40 style="text-align:left"><ion-icon ios="ios-home" md="md-home"></ion-icon> {{vwmedicinedetails.manufacturer}}</ion-col>
                        <ion-col width-40 style="text-align:left"><ion-icon ios="ios-clipboard" md="md-clipboard"></ion-icon> {{composition}}</ion-col>
                         <ion-col width-20 style="text-align:left"><ion-icon ios="ios-medkit" md="md-medkit"></ion-icon> {{packagetype}}</ion-col>
                    </ion-row>

              </ion-grid>
      </ion-card>
      </div>

      <ion-card> 
        <ion-card-header>
              Substitue Drugs : 
        </ion-card-header>
      <ion-grid *ngFor="let drug of vwalternativedrugdetails" style="overflow-scroll:true">

              <ion-row>
                  <ion-col width-10 height-10> <img src= "img/{{drug.category}}.png" /> </ion-col>
                  <ion-col width-30>{{drug.name}}</ion-col>
                  <ion-col width-60><ion-icon ios="ios-home" md="md-home"></ion-icon> {{drug.manufacturer}} </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col width-100> <hr> </ion-col>
              </ion-row>

          </ion-grid>
      </ion-card>
  </div>
</ion-content>