<ion-header>
  <ion-toolbar dark>
    <ion-title>
      Search Drugs on Internet
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" ></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-toolbar>

  <form [formGroup]="formdrugsearch">

		<ion-row>
			<ion-col width-80 align="center">
            <ion-searchbar align="center" primary [(ngModel)]="autocomplete.drugquery" formControlName="drugname" required placeholder = "Enter min 3 characters" [showCancelButton]="true" (ionInput)="updateSearch()"  (ionCancel)="dismiss()">
            </ion-searchbar>
			</ion-col>
			<ion-col width-20 align="center">
            <button align="center" type="submit" center text-center [disabled]="!formdrugsearch.valid" (click) = "drugSearch()">Search</button>
			</ion-col>
		</ion-row>

  </form>
 
</ion-header>



<ion-content class="drugshome">

<div *ngIf = "result != ''">
  <ion-item>
    No drug(s) found in the store inventory with a drug name : <strong> {{autocomplete.drugquery}} </strong>.<br> Please select below {{autocomplete.drugquery}} item if you wish to proceed.
  </ion-item>
</div>


  <ion-list>
    <button ion-item *ngFor="let item of autocompleteItems" (click)="chooseItem(item)">
      {{ item.name }}
    </button>
  </ion-list>

</ion-content>