<ion-header>
	<!--
  <ion-navbar>
    <ion-title>Drug Details</ion-title>
  </ion-navbar> -->

	<ion-navbar primary>

		<button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title center>Edit Drug : {{medicinename}} - {{medicinetype}} </ion-title>

	</ion-navbar>
</ion-header>

<ion-content padding style="overflow-scroll:true">


	<form [formGroup]="editdrug" (ngSubmit)="updateDrugItem()">

		<ion-row>
			<ion-col>
				<!-- Drug Name -->

			    <ion-item>
					<!-- <ion-label  floating><strong>Drug Name</strong></ion-label> -->
					<ion-label>{{medicinename}} </ion-label>
				</ion-item>

			</ion-col>
			<!-- <br>  -->

			<!-- Drug Type -->
			<ion-col>
				<ion-item>
					<ion-label>{{medicinetype}} </ion-label>
				</ion-item>
			</ion-col>
			<!-- <br>  -->

		</ion-row>

		<ion-row>
			<ion-col>
				<!-- MFG Code  -->
				<ion-item>
					<ion-label>{{manufacturer}} </ion-label>
				</ion-item>
			</ion-col>

			<ion-col>
				<!-- Schedule Drug  -->
				<ion-item [class.error]="!scheduledrug.valid && scheduledrug.touched">
					<ion-label floating>Scheduled Drug (Eg: H)</ion-label>
					<ion-input type="text" formControlName="scheduledrug" [(ngModel)]="schedulemedicine" name="schedulemedicine"></ion-input>
				</ion-item>

				<p *ngIf="scheduledrug.hasError('required') && scheduledrug.touched" danger>*Please enter schedule code of the drug.</p>
			</ion-col>
			<!-- <br>  -->
		</ion-row>
		<ion-row>
			<ion-col>
				<!-- re-order levels -->
				<ion-item [class.error]="!minqty.valid && minqty.touched">
					<ion-label floating>Inventory Re-Order Quantity({{medicinetype}}) (Eg: 100)
					</ion-label>
					<ion-input type="number" formControlName="minqty" [(ngModel)]="reorderqty" name="reorderqty"></ion-input>
				</ion-item>

				<p *ngIf="minqty.hasError('required') && minqty.touched" danger>*Please specify the minimum re-order qty that you would like to maintain in store.</p>
				<p *ngIf="minqty.hasError('pattern') && minqty.touched" danger>*Please specify the re-order qty in numbers.</p>
				<!-- <br>  -->
			</ion-col>

			<ion-col>
				<!-- Rack Position -->
				<ion-item [class.error]="!rackposition.valid && rackposition.touched">
					<ion-label floating>Rack Position (Eg: A)</ion-label>
					<ion-input type="text"  formControlName="rackposition" [(ngModel)]="medicineposition" name="medicineposition"></ion-input>
				</ion-item>

				<p *ngIf="rackposition.hasError('required') && rackposition.touched" danger>*Please specify the rack poistion where drug will be placed in store.</p>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<!-- packsize -->
				<!-- <br>  -->
				<ion-item>
					<ion-label floating>Package Type (Eg:10 TABLETS)</ion-label>
					<ion-input type="text" formControlName="packtype" [(ngModel)]="packagetype" name="packagetype"></ion-input>
				</ion-item>
			</ion-col>
			<!-- constitunets -->
			<!-- <br>  -->
			<ion-col>
				<ion-item>
					<ion-label floating>Composition (Eg:Albendazole:400 mg)</ion-label>
					<ion-input type="text"  formControlName="composition" [(ngModel)]="comp" name="comp"></ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button type="submit" [disabled]="!editdrug.valid">Submit</button>
			</ion-col>
		</ion-row>
	</form>


</ion-content>