<ion-header>
    <ion-navbar primary>

    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title center>Drug Inventory</ion-title>

     <ion-buttons end>
        <button ion-button (click)="gotoAddDrugs()">
          <ion-icon name="add-circle"></ion-icon>
        </button>

      </ion-buttons>

      
    </ion-navbar>
    <ion-toolbar dark>
<ion-segment [(ngModel)]="segment" (ionChange)="updatedrugsearch()">
    
      <ion-segment-button value="invt">
        Drug Search
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>

    </ion-segment>
    
    </ion-toolbar>
</ion-header>

<ion-content class="drugshome">
  <div *ngIf="segment=='invt'">

    <ion-searchbar primary [(ngModel)]="queryText" (ionInput)="updatedrugsearch()" placeholder="Search Drug">
    </ion-searchbar>

  <div *ngIf="drugsearchcount == 0">
    <ion-item>
      No drug(s) found in the store inventory with a drug name : <strong> {{queryText}} </strong> . Please check your search
      criteria and try with a different drug name.
    </ion-item>
  </div>

<!--
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div> -->

  <ion-list no-lines>

    <ion-item-sliding *ngFor="let drug of vwdrugs" [hidden]="drug.hide">

      <button ion-item (click)="gotoDrugDetails(drug.drugid)">
              <ion-avatar item-left>
                <img src= "img/{{drug.drugtype}}.png" />
              </ion-avatar>
              <h2><strong> {{drug.drugname}}</strong></h2>
              <h4>{{drug.mfgcode}}</h4>
      </button>


      <ion-item-options>
        <button favorite (click)="addFavorite(drug)">
            Favorite
          </button>
       </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  </div>

  <div *ngIf="segment == 'favorites'">

    <div *ngIf="!favlist || favlist.length == 0">
      <ion-item>
        No Favorites found
      </ion-item>
    </div>

  <ion-list *ngIf="favlist" no-lines>

    <ion-item-sliding *ngFor="let fav of favlist">

      <button ion-item (click)="gotoDrugDetails(fav.id)">
              <ion-avatar item-left>
                <img src= "img/{{fav.type}}.png" />
              </ion-avatar>
              <h2><strong> {{fav.name}}</strong></h2>
              <h4>Drug Type:<strong>{{fav.type}}</strong></h4>
              <p>{{fav.id}}</p>
      </button>


      <ion-item-options>
        <button danger (click)="removeFavorite(slidingItem, fav)">
            Remove
          </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  </div>
</ion-content>